<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="https://www.edu.gstu.by/pluginfile.php/1/core_admin/logocompact/300x300/1717158892/gomel_new_logo.png" alt="" id="logo">
        </a>
        {% if user.is_authenticated %}
            <div class="col-md-5 text-end">
                {% if user.is_superuser %}
                    <a href="{% url 'panel' %}" style="color: white; text-decoration: unset;">{<button type="button" class="btn btn-success">Админ панель</button></a>
                {% endif %}
                <a href="{% url 'profile' pk=user.id %}" style="color: white; text-decoration: unset;">{<button type="button" class="btn btn-primary">Профиль</button></a>
                <a href="{% url 'logout' %}" style="color: white; text-decoration: unset;"><button type="button" class="btn btn-danger">Выйти</button></a>
            </div>
        {% else %}
            <div class="col-md-3 text-end">
                <a href="{% url 'login' %}" style="color: blue; text-decoration: unset;"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
                <a href="{% url 'register' %}" style="color: white; text-decoration: unset;"><button type="button" class="btn btn-primary">Регистрация</button></a>
            </div>
        {% endif %}

    </header>
</div>