{% load static %}
{% include 'base.html' %}
<body>
    <div class="container">
    {% include 'header.html' %}
    <main>
        <div class="container">
            <h1>Дневник самоконтроля</h1>
        </div>
        <div class="container">
            <p><b>Дневник самоконтроля</b> - дневник самоконтроля для студентов ГГТУ им. П.О. Сухого по физкультуре(подготовительная группа)</p>
            <p>Здесь студенты должны заполнять нормативы, дневник самочувствия и так далее</p>
            <p>Сервис автоматически просчитывает индексы физического развития, но </p>
        </div>
        {% if user.is_staff %}
        {% endif %}
    </main>
  </div>
</body>
</html>